body{
    background-color:#CCC;
}
h1{
    color: antiquewhite;
    background-color: #000222;
    margin-top: -.6%;
    margin-left: -.6%;
    margin-right: -.6%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.input{
    margin-bottom: 10px;
}
